*{
  margin: 0;
  padding: 0;
}

body {
  --main-color: #D35266;
  --grey: #888;
  --dark: #383838;
}

.red-color {
  color: var(--main-color);
}

.bg-grey {
  background-color: #eee;
}

.navbar {
  background-color: var(--dark);
  padding: 10px 0;
  font-family: "GothamRounded-Light";
}

.navbar-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-li {
  margin: 0 18px;
  font-size: 14px;
}

.nav-logo {
  color: white;
  text-decoration: none;
  font-family: "HelveticaNeue-Medium";
  font-size: 1.5rem;
  margin-right: 1rem;
}

#active-link {
  color: var(--main-color);
}

.nav-link {
  color: var(--grey);
  text-decoration: none;
}

.nav-icon {
  margin-right: 14px;
}

.nav-btn {
  font-family: "GothamRounded-Light";
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 2px;
  padding: 10px 14px;
  outline: none;
  cursor: pointer;
}

.user-container {
  display: flex;
  align-items: center;
}

.user-container a {
  text-decoration: none;
  color: var(--grey);
}

.user-name {
  color: white;
  margin: 15px;
}

.user-img {
  width: 40px;
  border-radius: 50%;
}

.page-header {
  background-color: var(--main-color);
  padding: 2rem 0;
}

.page-heading-container {
  text-align: center;
  font-family: "HelveticaNeue-Medium";
  color: white;
  margin-top: 2rem;
}

.page-name {
  font-size: 3rem;
  margin-bottom: 10px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  font-family: "GothamRounded-Light";
}

.search-bar input {
  padding: 1rem 10px;
  outline: none;
  margin-right: 1px;
  border: none;
  border-radius: 2px;
}

.categories-div {
  position: relative;
}

.categories-div input {
  padding-left: 25px;
}

.fa-caret-down {
  position: absolute;
  top: 16px;
  left: 10px;
}

.search-btn {
  color: white;
  background-color: var(--dark);
  outline: none;
  border: none;
  border-radius: 2px;
  padding: 0 20px;
  margin-left: 20px;
  cursor: pointer;
}

.hot-ads {
  border-bottom: 1px solid #ccc;
}

.hot-ads-container {
  width: 70%;
  margin: 0 auto;
  position: relative;
  padding: 2.5rem 0;
}

.hot-ads-heading {
  margin-bottom: 1.6rem;
  color: var(--grey);
  font-family: "HelveticaNeue-Light";
}

.previous, .next {
  position: absolute;
  top: 50%;
  color: var(--main-color);
  border: 1px solid;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
}

.previous {
  left: -60px;
  padding: 8px 14px 6px 10px;
}

.next {
  right: -60px;
  padding: 8px 10px 6px 14px;
}

.hot-ads-grid {
  display: grid;
  grid-template-columns: minmax(200px, 400px) 1fr;
}

.hot-ads-img-div {
  position: relative;
  background: url("https://cdn.shopify.com/s/files/1/1715/3893/products/elitewoodrings001_1024x1024.jpg?v=1484539622") center/cover no-repeat;
}

.arrows-div {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--dark);
  color: var(--main-color);
  cursor: pointer;
}

.arrows-div i {
  padding: 8px 10px;
}

.hot-ads-info {
  padding-left: 2rem;
  color: var(--grey);
  font-family: "HelveticaNeue-Medium";
  line-height: 1.5;
}

.rings-title {
  color: var(--main-color);
  font-family: "HelveticaNeue-Light";
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}

.rings-description {
  margin-bottom: 1.2rem;
}

.rings-seller span, .rings-location span {
  font-family: "GothamRounded-Light";
}

.rings-purchase {
  display: inline-block;
  background-color: var(--main-color);
  color: white;
  border-radius: 4px;
  margin-top: 2.2rem;
  cursor: pointer;
}

.rings-price {
  display: inline-block;
  padding: 1rem 2rem;
  border-right: 1px solid var(--dark);
  font-size: 20px;
}

.rings-details {
  padding: 1rem 2rem 1rem .8rem;
}

.rings-details i {
  margin-right: 10px;
}

/**********************************************/

.section-container {
  position: relative;
  width: 75%;
  margin: 0 auto;
  padding: 2.5rem 0;
  font-family: "HelveticaNeue-Light";
  color: var(--dark);
}

.previous-product {
  left: -90px;
  color: var(--dark);
  font-size: 3rem;
  border: none;
}

.next-product {
  right: -90px;
  color: var(--dark);
  font-size: 3rem;
  border: none;
}

.section-heading {
  margin-bottom: 1.6rem;
  padding-bottom: 1rem;
  font-family: "HelveticaNeue-Light";
  border-bottom: 1px solid #ccc;
}

.grid-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.grid-div {
  width: 100%;
  background-color: white;
  border: 1px solid var(--grey);
  border-radius: 4px;
}

.grid-div img {
  width: 100%;
}

.product-info {
  padding: 1rem;
}

.product-state {
  font-weight: bold;
  color: var(--main-color);
  margin-top: 4px;
  margin-bottom: 10px;
}

.product-from {
  color: var(--grey);
}

.product-price-container {
  margin-top: 1rem;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-plus {
  color: var(--grey);
  border: 1px solid;
  padding: 4px;
  cursor: pointer;
}

.product-price {
  color: var(--main-color);
  font-weight: bold;
  font-size: 18px;
}

.footer-main-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  color: var(--grey);
}

.footer-logo-div, .footer-categories-div {
  flex-basis: 100%;
}

.footer-logo {
  font-family: "HelveticaNeue-Medium";
  font-size: 1.5rem;
  font-weight: bold;
}